/* Adjust the height of the header and footer */
.header {

  height: 95px;
}
.footer {
height: 60px;
}
/* Set the body container to occupy remaining vertical space */
.body-container {
flex-grow: 1;
overflow-y: auto;
overflow-x: auto;
}
