/* style.css */
body {
  background-image: url('./../images/background.png');
  background-repeat:no-repeat;
  background-size: cover;
}

header {
  display:block;
  align-content:center;  
  text-align: center;
  color: #33348e;
  font-family: 'Bruno Ace SC'; 
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

}
  
li {
      display: inline-block;
      margin: 0 10px;
      text-align: center;
}
  
a {
    text-decoration: none;
    color: #333;
    font-family: 'Bruno Ace SC', cursive;
}
  
 
  #cos_opcio {
    margin-top: 20px;
    text-align: center;
  }

  label {

    width : 150px;
    vertical-align:middle;
    text-align: right;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .error {
    color: #FF0000;
  }

  .hide{
    color: white;
    opacity:0;
  }

  .error:hover + .hide{
    color: red;
    opacity:1;
  }
  
  /* This demo stylesheet ONLY styles the nav menu. */

nav {
  
  background-color:#33348e;
  font-family:verdana,arial,times,serif;
  font-size:.875em;
  overflow:hidden;
  padding-left:4%;
}

nav ul li a {
  display:block;
  color:#fff;
  padding:.875em .625em;
  margin:0;
}

nav ul li a:hover,
nav ul li a:focus {
  background-color:#fff;
  color:#33348e;
  font-weight:normal;
}

/* These selectors style the active page's menu */

#ingressar .ingressar a,
#retirar .retirar a,
#crear .crear a {
  color:#33348e;
  background-color:#fff;
  /*pointer-events:none;*/
}
